# Choose one: openai, gemini or ollama
LLM_PROVIDER=ollama

SYSTEM_PROMPT=You are a helpful AI assistant.

OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini
# or
GEMINI_API_KEY=
GEMINI_MODEL=

OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=mistral:latest
